<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calendar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B95E86AAB1A3E53DEB72A2C09897BCFC930A3ED2</string>
				<key>dateExpires</key>
				<string>6/11/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WCPKG863V7.org.reactjs.native.example.Calendar</string>
				<key>com.apple.developer.team-identifier</key>
				<string>WCPKG863V7</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>WCPKG863V7.org.reactjs.native.example.Calendar</string>
				</array>
			</dict>
			<key>name</key>
			<string>Calendar.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d2463d5d-8f9a-4136-9d2d-00df43f2f543</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WCPKG863V7</string>
				<key>name</key>
				<string>Artem Chernitsov</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
